<form method="post" action="/<%= @id %>/edit">
  <h2>title</h2>
  <label><textarea name="memo_title"><%= @title %></textarea></label>
  <h2>memo</h2>
  <label><textarea name="memo_text"><%= @text %></textarea></label>
  <input type= "hidden" name="_method" value="PATCH">
  <button type = "submit" >change</button>
</form>
<form action="/" method="get">
  <button type="submit" >home</button>
</form>
