<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>メモアプリ</title>
</head>
<body>
<div class="container">
  <h1>memo's</h1>
  <%= yield %>
</div>
</body>
</html>