<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="data:,">
  <title>メモアプリ</title>
</head>
<body>
<h1>memo's</h1>
  <%= yield %>
</body>
</html>