<body>
<h1>memo's</h1>
<form action="/" method="post">
  <div class="container_post">
    <p class="memo_title_new">タイトル</p>
    <label><textarea class="memo_title_textarea" name="title"></textarea></label>
    <p class="memo_text_new">メモ本文</p>
    <label><textarea class="memo_text_textarea" name="text"></textarea></label>
  </div>
  <button type="submit" class="new-submit-save"><i class="far fa-save fa-1x fa-save-white"></i>save</button>
</form>
<form action="/" method="get">
  <button type="submit" value="home" class="back_to_top"><i class="fas fa-home"></i>home</button>
</form>
</body>