<section class="post-item">
  <div class="post-category">Title</div>
  <form action="/" method="post">
  <label><textarea name="title" class="post-category-textarea"></textarea></label>
  <div class="post-category">Memo</div>
  <label><textarea name="text" class="post-text-textarea"></textarea></label>
    <button type="submit" class="post-save-button">save</button>
  </form>
</section>
<section class="post-item-form">
  <form action="/" method="get">
    <button type="submit" value="home" class="post-home-button">home</button>
  </form>
</section>
