<form action="/" method="post">
  <p>タイトル</p>
  <label><textarea name="title"></textarea></label>
  <p>メモ本文</p>
  <label><textarea name="text"></textarea></label>
  <button type="submit">save</button>
</form>
<form action="/" method="get">
  <button type="submit" value="home">home</button>
</form>
