<p><%= @title %></p>
<p><%= @text.gsub(/\r\n/, '<br/>') %></p>
<form action="<%= @id %>/edit" method="get">
  <button type="submit">edit</button>
</form>
<form action="/<%= @id %>" method="post">
  <input type='hidden' name='_method' value="delete">
  <button type="submit">delete</button>
</form>
<form action="/" method="get">
  <button type="submit">home</button>
</form>

