<section class="new_memo_button">
  <form action="/new">
    <a href="/new">New Memo</a>
  </form>
</section>
<section class="item">
  <% @lists.each do |content| %>
    <a href="/<%= content["id"] %>">
      <div class="category"><%= content["title"] %></div>
      <p class="description"><%= content["text"] %></p>
    </a>
    <% end %>
</section>

