<form action="/new">
  <a href="/new" class="new_memo_button">New Memo</a>
</form>
<div>
  <ul>
    <% @lists.each do |content| %>
      <li><a href="/<%= content["id"] %>"> <%= content["title"] %></a></li>
    <% end %>
  </ul>
</div>
