<section class="new_memo_button">
  <form action="/new">
    <a href="/new" class="new-memo-text">New Memo</a>
  </form>
</section>
<section class="item">
  <% @memo.each do |memo| %>
      <a href="/<%= memo["user_id"]%>">
        <div class="category"><%= memo["memo_title"] %></div>
        <p class="description"><%= memo["memo_text"] %></p>
      </a>
    <% end %>
</section>
