<section class="new_memo_button">
  <form action="/new">
    <a href="/new" class="new-memo-text">New Memo</a>
  </form>
</section>
<section class="item">
  <% @memo_list.each do |id, memo| %>
      <a href="/<%= id %>">
        <div class="category"><%= memo["memo_title"] %></div>
        <p class="description"><%= memo["memo_text"] %></p>
      </a>
    <% end %>
</section>
