body {
    font-family: 'Archivo Black', sans-serif;
    background-color: #2980b9;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: azure;
}

h1 {
    color: white;
    text-align: center;
}
/*------------/top----------------*/
.container {
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    list-style: none;
}

.container li {
    padding-top: 30px;
    border: solid 1px white;
    width: auto;
    height: 100px;
    text-align: center;
    background-color: #3498db;
    font-weight: bold;
}

.memo_title_top {
    border: solid 1px white;
    height: 50px;
    width: 500px;
}

.fa-white
{
    position: absolute;
    right: 0;
    top: 100px;
    padding: 5px 20px;
    margin-right: 10px;
    color: white;
    font-size: 10px;
    border: solid 1px white;
    background-color: #3498db;
}

/*------------/new----------------*/
.container_post {
    display: grid;
    text-align: center;
}
/* pタイトル */
.memo_title_new {
    color: white;
}
/* タイトルテキストエリア */
.memo_title_textarea{
    text-align: center;
    font-size: 20px;
    vertical-align: center;
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

/* p メモテキスト */
.memo_text_new {
    color: white;
}

/* メモ入力欄 */
.memo_text_textarea {
    height: 300px;
    font-size: 20px;
    width: 80%;
    margin: auto;
}

/* 保存ボタン */
.new-submit-save {
    position: relative;
    top: 100px;
    right: 20px;
    display: inline-block;
    background-color: #3498db;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    border: solid 1px white;
}

/* 戻るボタン */
.back_to_top {
    position: absolute;
    right: 20px;
    display: inline-block;
    background-color: #3498db;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    border: solid 1px white;
}

/*------------/show----------------*/
.container-show {
    display: grid;
    color: white;
}

.show-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.show-text {
    background-color: white;
    border: solid 1px white;
    color: #000;
    padding: 10px;
    width: 80%;
    margin: auto;
    height: 300px;
}

.container-show-submit {
    /*display: grid;*/
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.show-submit-change {
    position: absolute;
    top: 0;
    padding: 5px 20px;
    margin-right: 10px;
    color: white;
    font-size: 10px;
    border: solid 1px white;
    background-color: #3498db;
    cursor: pointer;
}

.show-submit-delete {
    position: absolute;
    top: 5px;
    right: 55px;
    padding: 5px 20px;
    margin-right: 10px;
    color: white;
    font-size: 10px;
    border: solid 1px white;
    background-color: #3498db;
    cursor: pointer;
}

.show-submit-back {
    position: absolute;
    top: 40px;
    right: 55px;
    padding: 5px 20px;
    margin-right: 10px;
    color: white;
    font-size: 10px;
    border: solid 1px white;
    background-color: #3498db;
    cursor: pointer;
}

/*---------/edit------------*/
.container-edit {
    display: grid;
    text-align: center;
    background-color: #3498db;
}